<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form enctype="multipart/form-data" id="upload_form">
    <input multiple="multiple" name="file" type="file"/>
</form>
<button onclick="ajaxTest()">Upload</button>

<form id="download_form">
    <input type="text" name="token"/>
</form>
<button onclick="ajaxTest1()">Download</button>

</body>
<script>


    // XMLHttpRequest 객체의 인스턴스를 생성합니다.
    var xhr = new XMLHttpRequest();


    function ajaxTest() {

        var form = document.querySelector("#upload_form");
        var formData = new FormData(form);

        // open() 메서드는 요청을 준비하는 메서드입니다. (http 메서드, 데이터를 받아올 URL 경로, 비동기 여부)
        xhr.open("POST", "http://127.0.0.1:8080/test/upload", true);
        xhr.onreadystatechange = function () { //폴백
            if (xhr.readyState == 4) {
                if (xhr.status == 200) { //200은 잘넘어왔단 것이다.
                    process();
                } else {
                    alert("요청오류 : " + xhr.status);
                }
            }
        }
        // send() 메서드는 준비된 요청을 서버로 전송하는 메서드입니다. (서버에 전달될 정보)
        xhr.send(formData);
    }

    function ajaxTest1() {

        var form = document.querySelector("#download_form");
        var formData = new FormData(form);

        // open() 메서드는 요청을 준비하는 메서드입니다. (http 메서드, 데이터를 받아올 URL 경로, 비동기 여부)
        xhr.open("POST", "http://127.0.0.1:8080/test/download", true);
        xhr.onreadystatechange = function () { //폴백
            if (xhr.readyState == 4) {
                if (xhr.status == 200) { //200은 잘넘어왔단 것이다.
                    process();
                } else {
                    alert("요청오류 : " + xhr.status);
                }
            }
        }
        // send() 메서드는 준비된 요청을 서버로 전송하는 메서드입니다. (서버에 전달될 정보)
        xhr.send(formData);
    }

    function process() {

        var data = xhr.responseText;

        alert("요청 결과 : " + data);

    }

</script>
</html>